<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/header') %>

    <h1>Preguntas frecuentes</h1>

    <h2>¿Que es Skate Spo(in)t ?</h2>
    <p>Skate Spo(in)t consiste en una página web interactiva con la que podrás ver los spots para en tu ciudad.</p>

    <h2>¿Que es un spot ?</h2>
    <p>Un spot es lo que se conoce como un lugar marcado (en nuestro caso para patinar), un sitio con un buen suelo, buenos módulos y sobretodo para pasar un buen rato sólo o con tus amigos.</p>

    <h2>¿Cómo funciona la web ?</h2>
    <p>¡Es muy fácil ! Simplemente echa un vistazo a nuestro mapa interactivo en la página principal y observa todos los puntos marcados del mapa. ¡Selecciona uno y podrás ver información sobre este y como llegar !</p>

    <h2>¿Stairs, A-frames, módulos... ?</h2>
    <p>Si ya le has echado un vistazo a algunos de los puntos del mapa, te habrás dado cuenta de que en las descripciones se usan palabras a las que si no sabes del mundo del skate, te puede perder un poco.</p>
    <p>Stairs se refiere a las escaleras y el número de peldaños que tiene esta. "3 stairs", "5 stairs", etc.</p>
    <p>Un módulo u obstaculo es lo que se usa en los skateparks para poder patinar o hacer trucos, como cajones, rampas, raíles...</p>

    <h1>¿Tienes más dudas ?</h1>
    <p>Escríbenos a nuestro correo y te contactaremos en seguida.</p>
    <a href="mailto:contactskatespoint@gmail.com">contactskatespoint@gmail.com</a>

</body>
</html>