<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/header') %>

    <h1>Contáctanos</h1>
    <p>Escríbenos a nuestro correo y te contactaremos en seguida</p>
    <a href="mailto:contactskatespoint@gmail.com">contactskatespoint@gmail.com</a>

</body>
</html>