<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo empty.png" type="image/png">
    <title>Skate Spo(in)t</title>
    <link rel="stylesheet" href="inicio.css">
</head>
<body>
    <%- include('partials/header') %>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1hgStK_6-u2fuRjjtk7Ub2VaDBPE_TVM&ehbc=2E312F&noprof=1"></iframe>
    <div class="infoBlog">
        <div class="imgInfo">
            <img src="https://assets.change.org/photos/5/tu/br/PsTuBrkuThhPqEJ-1600x900-noPad.jpg?1638825298" alt="">
        </div>
        <div class="info">
            <h2>¡Regístrate!</h2>
            <p>Entérate de las últimas noticias del mundo del skate y obten información anticipada</p>
            <br>
            <a href="/blog"><button>Blog</button></a>
        </div>
    </div>
</body>
</html>