<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skate Spo(in)t</title>
</head>
<body>
    <%- include('partials/header') %>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1hgStK_6-u2fuRjjtk7Ub2VaDBPE_TVM&ehbc=2E312F&noprof=1" width="1500" height="520"></iframe>
    <div>
        <img src="https://assets.change.org/photos/5/tu/br/PsTuBrkuThhPqEJ-1600x900-noPad.jpg?1638825298" alt="" width="400" height="200">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus erat, blandit id felis sit amet, ornare pulvinar ex. Aliquam gravida nulla mattis lectus mollis aliquet. </span>
        <a href="/blog"><button>Blog</button></a>
    </div>
</body>
</html>