<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    <%- include('partials/header') %>
    <form action="/register" method="post">
        <input type="text" placeholder="Nombre de usuario" name="username" required>
        <input type="email" placeholder="Correo electrónico" name="email" required>
        <input type="password" placeholder="Contraseña" name="pass" required>
        <button>Registrarse</button>
    </form>
</body>
</html>