<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="400.css">
    <link rel="icon" href="/static/logo empty.png" type="image/png">
</head>
<body>
    <%- include('partials/header') %>
    <div class="info">
        <h3>El usuario ya está registrado</h3>
        <br>
        <a href="/register"><button>Inténtalo de nuevo</button></a>
    </div>
</body>
</html>