<a href="/"><img src="../static/Logo provisional 2.png" alt="" width="175" height="107"></a>
<a href="/">Inicio</a>
<a href="/spot_generator">Spot aleatorio</a>
<a href="/blog">Blog</a>
<a href="/contacto">Contacto</a>
<a href="/cuenta">Cuenta</a>