<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="menuContainer">
        <div class="logo">
            <a href="/"><img src="../static/logo alone.png" alt="" width="175" height="107"></a>
            <a href="/"><h4>SKATE SPO(IN)T</h4></a>
        </div>
        <div class="routes">
            <a href="/">Inicio</a>
            <a href="/blog">Blog</a>
            <a href="/ayuda">Ayuda</a>
            <a href="/cuenta"><i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i></a>
        </div>
    </div>
</body>

</html>
