.new_pass
    h1
        color: #357DED
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px
    input
        height: 35px
        width: 200px
        padding: 5px
    button
        background-color: #0287C0
        border: none
        color: white
        padding: 10px
        width: 50%
        border-radius: 10px
        cursor: pointer

@media only screen and (max-width: 768px)
    .new_pass
        text-align: center
    